<div>
   <h1>Change Password</h1>
  
          <mat-form-field appearance="outline"> 
           <label class="form-control-label text-muted">Old Password</label>
            <input class="form-control" type="text" [(ngModel)]="oldPassword" placeholder="Old Password" />
        <br><br>

            <div class="form-group" >
               <label class="form-control-label text-muted">New Password</label>
               <input type="password"  [(ngModel)]="newPassword" [formControl]="password" pattern="^[A-Za-z0-9@*]{8,15}$" id="movieUser.password" name="password" placeholder="New Password" class="form-control">
               <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">
                   Please enter a valid Password Only @,* special Chraracters,digits, (lowercase,uppercase Alphabets) are allowed   </mat-error>
                 <mat-error *ngIf="password.hasError('required') &&  password.touched">
                  New Password is <strong>required</strong>   </mat-error>      
           </div>

       </mat-form-field>
          <div mat-dialog-actions>
          
           <button mat-raised-button color="warn" (click)="changePassword()">Submit New Password</button>
             <button mat-button mat-dialog-close color="primary">Cancel</button>
           </div>
      
</div>
